body {
  width: 80em;
  border: 1px solid #ddd;
  outline: 1300px solid #fff;
  margin: 16px auto;
}

body .body
{
  padding: 30px;
}

@font-face {
  font-family: octicons-anchor;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAYcAA0AAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABwAAAAca8vGTk9TLzIAAAFMAAAARAAAAFZG1VHVY21hcAAAAZAAAAA+AAABQgAP9AdjdnQgAAAB0AAAAAQAAAAEACICiGdhc3AAAAHUAAAACAAAAAj//wADZ2x5ZgAAAdwAAADRAAABEKyikaNoZWFkAAACsAAAAC0AAAA2AtXoA2hoZWEAAALgAAAAHAAAACQHngNFaG10eAAAAvwAAAAQAAAAEAwAACJsb2NhAAADDAAAAAoAAAAKALIAVG1heHAAAAMYAAAAHwAAACABEAB2bmFtZQAAAzgAAALBAAAFu3I9x/Nwb3N0AAAF/AAAAB0AAAAvaoFvbwAAAAEAAAAAzBdyYwAAAADP2IQvAAAAAM/bz7t4nGNgZGFgnMDAysDB1Ml0hoGBoR9CM75mMGLkYGBgYmBlZsAKAtJcUxgcPsR8iGF2+O/AEMPsznAYKMwIkgMA5REMOXicY2BgYGaAYBkGRgYQsAHyGMF8FgYFIM0ChED+h5j//yEk/3KoSgZGNgYYk4GRCUgwMaACRoZhDwCs7QgGAAAAIgKIAAAAAf//AAJ4nHWMMQrCQBBF/0zWrCCIKUQsTDCL2EXMohYGSSmorScInsRGL2DOYJe0Ntp7BK+gJ1BxF1stZvjz/v8DRghQzEc4kIgKwiAppcA9LtzKLSkdNhKFY3HF4lK69ExKslx7Xa+vPRVS43G98vG1DnkDMIBUgFN0MDXflU8tbaZOUkXUH0+U27RoRpOIyCKjbMCVejwypzJJG4jIwb43rfl6wbwanocrJm9XFYfskuVC5K/TPyczNU7b84CXcbxks1Un6H6tLH9vf2LRnn8Ax7A5WQAAAHicY2BkYGAA4teL1+yI57f5ysDNwgAC529f0kOmWRiYVgEpDgYmEA8AUzEKsQAAAHicY2BkYGB2+O/AEMPCAAJAkpEBFbAAADgKAe0EAAAiAAAAAAQAAAAEAAAAAAAAKgAqACoAiAAAeJxjYGRgYGBhsGFgYgABEMkFhAwM/xn0QAIAD6YBhwB4nI1Ty07cMBS9QwKlQapQW3VXySvEqDCZGbGaHULiIQ1FKgjWMxknMfLEke2A+IJu+wntrt/QbVf9gG75jK577Lg8K1qQPCfnnnt8fX1NRC/pmjrk/zprC+8D7tBy9DHgBXoWfQ44Av8t4Bj4Z8CLtBL9CniJluPXASf0Lm4CXqFX8Q84dOLnMB17N4c7tBo1AS/Qi+hTwBH4rwHHwN8DXqQ30XXAS7QaLwSc0Gn8NuAVWou/gFmnjLrEaEh9GmDdDGgL3B4JsrRPDU2hTOiMSuJUIdKQQayiAth69r6akSSFqIJuA19TrzCIaY8sIoxyrNIrL//pw7A2iMygkX5vDj+G+kuoLdX4GlGK/8Lnlz6/h9MpmoO9rafrz7ILXEHHaAx95s9lsI7AHNMBWEZHULnfAXwG9/ZqdzLI08iuwRloXE8kfhXYAvE23+23DU3t626rbs8/8adv+9DWknsHp3E17oCf+Z48rvEQNZ78paYM38qfk3v/u3l3u3GXN2Dmvmvpf1Srwk3pB/VSsp512bA/GG5i2WJ7wu430yQ5K3nFGiOqgtmSB5pJVSizwaacmUZzZhXLlZTq8qGGFY2YcSkqbth6aW1tRmlaCFs2016m5qn36SbJrqosG4uMV4aP2PHBmB3tjtmgN2izkGQyLWprekbIntJFing32a5rKWCN/SdSoga45EJykyQ7asZvHQ8PTm6cslIpwyeyjbVltNikc2HTR7YKh9LBl9DADC0U/jLcBZDKrMhUBfQBvXRzLtFtjU9eNHKin0x5InTqb8lNpfKv1s1xHzTXRqgKzek/mb7nB8RZTCDhGEX3kK/8Q75AmUM/eLkfA+0Hi908Kx4eNsMgudg5GLdRD7a84npi+YxNr5i5KIbW5izXas7cHXIMAau1OueZhfj+cOcP3P8MNIWLyYOBuxL6DRylJ4cAAAB4nGNgYoAALjDJyIAOWMCiTIxMLDmZedkABtIBygAAAA==) format('woff');
}

.body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.body a {
  background: transparent;
}

.body a:active,
.body a:hover {
  outline: 0;
}

.body strong {
  font-weight: bold;
}

.body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.body img {
  border: 0;
}

.body img.screenshot {
  box-shadow: 5px 5px 10px 5px lightgrey;
}

.body hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.body pre {
  overflow: auto;
}

.body code,
.body kbd,
.body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.body input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.body html input[disabled] {
  cursor: default;
}

.body input {
  line-height: normal;
}

.body input[type="checkbox"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body td,
.body th {
  padding: 0;
}

.body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body input {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.body a {
  color: #4183c4;
  text-decoration: none;
}

.body a:hover,
.body a:focus,
.body a:active {
  text-decoration: underline;
}

.body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.body hr:before {
  display: table;
  content: "";
}

.body hr:after {
  display: table;
  clear: both;
  content: "";
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.body h1 {
  font-size: 30px;
}

.body h2 {
  font-size: 21px;
}

.body h3 {
  font-size: 16px;
}

.body h4 {
  font-size: 14px;
}

.body h5 {
  font-size: 12px;
}

.body h6 {
  font-size: 11px;
}

.body blockquote {
  margin: 0;
}

.body ul,
.body ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.body ol ol,
.body ul ol {
  list-style-type: lower-roman;
}

.body ul ul ol,
.body ul ol ol,
.body ol ul ol,
.body ol ol ol {
  list-style-type: lower-alpha;
}

.body dd {
  margin-left: 0;
}

.body code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.body .octicon {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.body .octicon-link:before {
  content: '\f05c';
}

.body>*:first-child {
  margin-top: 0 !important;
}

.body>*:last-child {
  margin-bottom: 0 !important;
}

.body .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.body .anchor:focus {
  outline: none;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.body h1 .octicon-link,
.body h2 .octicon-link,
.body h3 .octicon-link,
.body h4 .octicon-link,
.body h5 .octicon-link,
.body h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}

.body h1:hover .anchor,
.body h2:hover .anchor,
.body h3:hover .anchor,
.body h4:hover .anchor,
.body h5:hover .anchor,
.body h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

.body h1:hover .anchor .octicon-link,
.body h2:hover .anchor .octicon-link,
.body h3:hover .anchor .octicon-link,
.body h4:hover .anchor .octicon-link,
.body h5:hover .anchor .octicon-link,
.body h6:hover .anchor .octicon-link {
  display: inline-block;
}

.body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.body h4 {
  font-size: 1.25em;
}

.body h5 {
  font-size: 1em;
}

.body h6 {
  font-size: 1em;
  color: #777;
}

.body p,
.body blockquote,
.body ul,
.body ol,
.body dl,
.body table,
.body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.body hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.body ul,
.body ol {
  padding-left: 2em;
}

.body ul ul,
.body ul ol,
.body ol ol,
.body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.body li>p {
  margin-top: 16px;
}

.body dl {
  padding: 0;
}

.body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.body blockquote>:first-child {
  margin-top: 0;
}

.body blockquote>:last-child {
  margin-bottom: 0;
}

.body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.body table th {
  font-weight: bold;
}

.body table th,
.body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.body img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.body code:before,
.body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.body .highlight {
  margin-bottom: 16px;
}

.body .highlight pre,
.body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.body pre {
  word-wrap: normal;
}

.body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.body pre code:before,
.body pre code:after {
  content: normal;
}

.body .highlight {
  background: #fff;
}

.body .highlight .h {
  color: #333;
  font-style: normal;
  font-weight: normal;
}

.body .highlight .mf,
.body .highlight .mh,
.body .highlight .mi,
.body .highlight .mo,
.body .highlight .il,
.body .highlight .m {
  color: #945277;
}

.body .highlight .s,
.body .highlight .sb,
.body .highlight .sc,
.body .highlight .sd,
.body .highlight .s2,
.body .highlight .se,
.body .highlight .sh,
.body .highlight .si,
.body .highlight .sx,
.body .highlight .s1 {
  color: #df5000;
}

.body .highlight .kc,
.body .highlight .kd,
.body .highlight .kn,
.body .highlight .kp,
.body .highlight .kr,
.body .highlight .kt,
.body .highlight .k,
.body .highlight .o {
  font-weight: bold;
}

.body .highlight .kt {
  color: #458;
}

.body .highlight .c,
.body .highlight .cm,
.body .highlight .c1 {
  color: #998;
  font-style: italic;
}

.body .highlight .cp,
.body .highlight .cs,
.body .highlight .cp .h {
  color: #999;
  font-weight: bold;
}

.body .highlight .cs {
  font-style: italic;
}

.body .highlight .n {
  color: #333;
}

.body .highlight .na,
.body .highlight .nv,
.body .highlight .vc,
.body .highlight .vg,
.body .highlight .vi {
  color: #008080;
}

.body .highlight .nb {
  color: #0086B3;
}

.body .highlight .nc {
  color: #458;
  font-weight: bold;
}

.body .highlight .no {
  color: #094e99;
}

.body .highlight .ni {
  color: #800080;
}

.body .highlight .ne {
  color: #990000;
  font-weight: bold;
}

.body .highlight .nf {
  color: #945277;
  font-weight: bold;
}

.body .highlight .nn {
  color: #555;
}

.body .highlight .nt {
  color: #000080;
}

.body .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.body .highlight .gd {
  color: #000;
  background-color: #fdd;
}

.body .highlight .gd .x {
  color: #000;
  background-color: #faa;
}

.body .highlight .ge {
  font-style: italic;
}

.body .highlight .gr {
  color: #aa0000;
}

.body .highlight .gh {
  color: #999;
}

.body .highlight .gi {
  color: #000;
  background-color: #dfd;
}

.body .highlight .gi .x {
  color: #000;
  background-color: #afa;
}

.body .highlight .go {
  color: #888;
}

.body .highlight .gp {
  color: #555;
}

.body .highlight .gs {
  font-weight: bold;
}

.body .highlight .gu {
  color: #800080;
  font-weight: bold;
}

.body .highlight .gt {
  color: #aa0000;
}

.body .highlight .ow {
  font-weight: bold;
}

.body .highlight .w {
  color: #bbb;
}

.body .highlight .sr {
  color: #017936;
}

.body .highlight .ss {
  color: #8b467f;
}

.body .highlight .bp {
  color: #999;
}

.body .highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}

.body kbd {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #000;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}

.body .highlight .pl-coc,
.body .highlight .pl-entm,
.body .highlight .pl-eoa,
.body .highlight .pl-mai .pl-sf,
.body .highlight .pl-pdv,
.body .highlight .pl-sc,
.body .highlight .pl-sr,
.body .highlight .pl-v,
.body .highlight .pl-vpf {
  color: #0086b3;
}

.body .highlight .pl-eoac,
.body .highlight .pl-mdht,
.body .highlight .pl-mi1,
.body .highlight .pl-mri,
.body .highlight .pl-va,
.body .highlight .pl-vpu {
  color: #008080;
}

.body .highlight .pl-c,
.body .highlight .pl-pdc {
  color: #b4b7b4;
  font-style: italic;
}

.body .highlight .pl-k,
.body .highlight .pl-ko,
.body .highlight .pl-kolp,
.body .highlight .pl-mc,
.body .highlight .pl-mr,
.body .highlight .pl-ms,
.body .highlight .pl-s,
.body .highlight .pl-sok,
.body .highlight .pl-st {
  color: #6e5494;
}

.body .highlight .pl-ef,
.body .highlight .pl-enf,
.body .highlight .pl-enm,
.body .highlight .pl-entc,
.body .highlight .pl-eoi,
.body .highlight .pl-sf,
.body .highlight .pl-smc {
  color: #d12089;
}

.body .highlight .pl-ens,
.body .highlight .pl-eoai,
.body .highlight .pl-kos,
.body .highlight .pl-mh .pl-pdh,
.body .highlight .pl-mp,
.body .highlight .pl-pde,
.body .highlight .pl-stp {
  color: #458;
}

.body .highlight .pl-enti {
  color: #d12089;
  font-weight: bold;
}

.body .highlight .pl-cce,
.body .highlight .pl-enc,
.body .highlight .pl-kou,
.body .highlight .pl-mq {
  color: #f93;
}

.body .highlight .pl-mp1 .pl-sf {
  color: #458;
  font-weight: bold;
}

.body .highlight .pl-cos,
.body .highlight .pl-ent,
.body .highlight .pl-md,
.body .highlight .pl-mdhf,
.body .highlight .pl-ml,
.body .highlight .pl-pdc1,
.body .highlight .pl-pds,
.body .highlight .pl-s1,
.body .highlight .pl-scp,
.body .highlight .pl-sol {
  color: #df5000;
}

.body .highlight .pl-c1,
.body .highlight .pl-cn,
.body .highlight .pl-pse,
.body .highlight .pl-pse .pl-s2,
.body .highlight .pl-vi {
  color: #a31515;
}

.body .highlight .pl-mb,
.body .highlight .pl-pdb {
  color: #df5000;
  font-weight: bold;
}

.body .highlight .pl-mi,
.body .highlight .pl-pdi {
  color: #6e5494;
  font-style: italic;
}

.body .highlight .pl-ms1 {
  background-color: #f5f5f5;
}

.body .highlight .pl-mdh,
.body .highlight .pl-mdi {
  font-weight: bold;
}

.body .highlight .pl-mdr {
  color: #0086b3;
  font-weight: bold;
}

.body .highlight .pl-s2 {
  color: #333;
}

.body .highlight .pl-ii {
  background-color: #df5000;
  color: #fff;
}

.body .highlight .pl-ib {
  background-color: #f93;
}

.body .highlight .pl-id {
  background-color: #a31515;
  color: #fff;
}

.body .highlight .pl-iu {
  background-color: #b4b7b4;
}

.body .highlight .pl-mo {
  color: #969896;
}

.body .task-list-item {
  list-style-type: none;
}

.body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.body .task-list-item input {
  float: left;
  margin: 0.3em 0 0.25em -1.6em;
  vertical-align: middle;
}
